{% extends 'base.html' %}
{% block content %}
<style>
    input[type=text], select {
      width: 100%;
      height:200px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    #div {
      border-radius: 11px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>

        <!--.survey-desc-->
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="col-md-6 mx-auto" id="div">
            <label for="fname">مشکلت چیه؟</label>
            <input type="text" id="talk_about" name="talk_about" placeholder="مشکلت چیه؟">
                <button type="submit"class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ثبت</button>
            </form>
            </div>

        </form>
        <div class="bg-white p-3">
            <section class="mb-4">
                <div class="container">
                    <br><br><h4 class="text-left text-white">دکتر های جست و جو شده</h4><hr>
                <div class="row">
                    {% for i in darm %}
                        {% comment %} {% for j in i %} {% endcomment %}
                            <div class="col-6 darm" id="darm{{forloop.counter0}}" > 
                                <div class="card mb-3" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; width: auto; height: auto; border-radius: 10px;">
                            <div class="card-body">
                                <img src="{{i.pic.url}}" class="card-img-top" alt="aa" style="width=auto; height:auto" >
                                <h5 class="card-title mb-3">{{i.fname}} {{i.lname}}</h5>
                                <p class="card-title mb-3 ">{{i.description|truncatewords:30}}</p>

                                <a href="{% url 'form:detailss' i.pk detas.slug informations.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ادامه</a>
                            </div>
                            </div>
                            </div>

                        {% comment %} {% endfor %}         {% endcomment %}
                {% endfor %} 
                <div class="row">
                   {%for x in list_count%}
                   <div class="col-sm-1">
                       <button class="btn btn-success" name="pagination{{x}}" id="pagination{{x}}" onclick="next({{x}})">{{x}}</button>
                   </div>
                       {%endfor%}
               </div>

             </div>
              
            </section>
            <script>
            
                function none(){
                $('.darm').css('display','none');
                } 
                none();   
                 var i = 0;
                for(i;i<=1;i++)
                {
                   $('#darm'+i).css('display','block');
                    
                }
                function next(x)
                {
                    x=x-1;
                    x=x*2;
                    none();
                    $('#darm'+x).css('display','block');
                    $('#darm'+(x+1)).css('display','block');
                }
                function nexts(y){
                    y++
                }
 
            </script>

{% endblock %}