{% extends 'base.html' %}
{% block content %}
<center>
  <div class="bg-white">
  <div class="col-6">
    <img src="{{details.pic.url}}" class="mt-3" alt="aa" style="width=500px; height:600px" >

<h1 class="text-dark mt-3"> دکتر {{details.fname}} 
{{details.lname}}</h1> <br>
<p>قیمت:{{details.price}}</p><br><br>
<p class="text-dark text-muted font-5">:توضیحات دکتر {{details.description}}</p><br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-lg active mb-3" role="button" aria-pressed="true" value="ثبت فرم">
    <a href="{% url 'form:payment' details.slug details.pk %}">aaa</a>
</form>
</div>
</div>
</center>
{% endblock %}