{% extends "base.html" %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

.button {
  background-color: #219354; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
    </style>


    <!-- Compressed CSS -->
    <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css">
    
    <!-- Compressed JavaScript -->
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js">
    </script>
    <script src=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js">
    </script>
</head>
<body>
<center><h1>{{deta.fname}} {{deta.lname}} خوش آمدید</h1>

  <!DOCTYPE html>
  <html>
  <head>
      <title>Todo List</title>
  </head>
  <body>
      <form method="post" id="task-form">
          {% csrf_token %}
          {{form.talk_about}}
          <button class="button" type="submit">جست و جو دکتر</button>
          {% for i in darm %}
          <p>{{i.fname}} {{i.lname}}</p>
          <p>{{i.description}}</p>
           <img src="{{i.pic.url}}" alt="" width="400" height="400">
          <a href="{% url 'form:details' i.slug deta.pk %}" <button class="button" type="submit" value="{{ i.id }}">جست و جو دکتر</button></a>
           {% endfor %}
           {{form.rel_info}}
      </form>
  </body>
  </html>
</center>
</body>
{% endblock %}